/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #2b283a;
}

/* Header Styles */

header {
    background-color: #5f29a3;
    padding: 2.8125rem 0;
}

header h1 {
    color: whitesmoke;
    font-size: 2.25rem;
    margin-bottom: 0;
}

header h2 {
    color: #d0aaff;
    font-size: 20px;
    margin-top: 0;
}

/* Section Styles */

section {
    padding: 2.8125rem 0;
}

.section-two{
    color: whitesmoke;
    background-color: #5f29a3;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.section-two-image-container {
    display: flex;
    justify-content: space-between;
}

.featured-images {
    width: 300px;
    border-radius: 4.6px;
}

section h2 {
    margin-top: 0;
}

section p {
    line-height: 23px;
}

.sneaker-img {
    width: 100%;
}

section a {
    color: #ef5839;
    text-decoration: underline dotted;
}

section a:hover , section a:active {
    color: #d4b44c;
}

/* Link Styles */

.link-layout{
    margin: 10px 0;
    display: inline-block;
    padding: 10px 19px;
    border-radius: 4.6px;
    font-weight: 500;
    text-decoration: none;
}

.link-layout:hover, .link-layout:active {
    background-color: #f3e885;
    color: #2b283a;
}

.section-one-link-one {
    background-color: #5f29a3;
    color: whitesmoke;
}

.section-one-link-two {
    background-color: #f0e0ff;
    color: #5f29a3;
}

.section-two-link-one {
    background-color: whitesmoke;
    color: #5f29a3;
}

/* Footer Styles */

footer{
    text-align: center;
    padding: 45px 0;
    color: #5f29a3;
}
