/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #2b283a;
}

/* Header Styles */

header {
    background-color: #5f29a3;
    padding: 2.8125rem 0;
}

header h1 {
    color: whitesmoke;
    font-size: 2.25rem;
    margin-bottom: 0;
}

header h2 {
    color: #d0aaff;
    font-size: 20px;
    margin-top: 0;
}

/* Section Styles */

section {
    padding: 2.8125rem 0;
}

section h2 {
    margin-top: 0;
}

.sneaker-img {
    width: 100%;
}

section a {
    color: #ef5839;
    text-decoration: underline dotted;
}

section a:hover , section a:active {
    color: #d4b44c;
}
